.container{
    height: 600px;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:60px 60px repeat(4,1fr);

}
    .redes{
        background: rgb(4, 63, 110);
        display:grid;
        grid-template-columns:1fr 2fr 1.5fr;
        grid-template-rows:1fr;
        align-items: center;
        
    }
        .icon-redes{
            display:grid;
            grid-template-columns:repeat(5,1fr);
            grid-template-rows:1fr;
            grid-column-gap: 5px;
            align-items: center;
            margin: 0px 0 0 40px;
           
           
           
             
        }
            .icon{
                background: rgba(76, 87, 92, 0.561);
                width: 45px;
                height:45px;
                border-radius:22.5px;
                text-align: center;
                font-size: 20px;
                color: #fff;
                border:1px solid white;
                display: flex;
                align-items:center;
                justify-content: center; 
                
            }
        .telephone{
            display:grid;
            grid-template-columns:repeat(3,1fr);
            grid-template-rows:1fr;
            grid-column: 3;
            grid-column-gap: 5px;
            align-items: center;
            margin: 0px 40px 0px 0px;

            
            
        }
            .boton{
                background: hsl(37, 75%, 48%);
                height:45px;
                text-align: center;
                font-size: 20px;
                color: #030303;
                border: none;
                border-radius: 5px;
            }
        .t1{
            color: #fff;

        }
    .menu{
        background: #fff;
    }
    .baner{
        background: #f6e605f5;

    }
    .our{
        background: hsla(197, 96%, 49%, 0.961);

    }
    .sale{
        background: #fff;

    }
    .tutors{
        background: hsla(197, 96%, 49%, 0.961);

    }
    .cources{
        background: rgba(94, 107, 112, 0.877);
    }