.container{
    /* height: 600px; */
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:60px 80px 453px repeat(3,1fr);
}
/* diseño del header */
    .redes{
        background: rgb(4, 63, 110);
        display:grid;
        grid-template-columns:1fr 2fr 1.5fr;
        grid-template-rows:1fr;
        align-items: center;
        }
        .icon-redes{
            display:grid;
            grid-template-columns:repeat(5,1fr);
            grid-template-rows:1fr;
            grid-column-gap: 10px;
            align-items: center;
            margin: 0px 0 0 40px;
        }
            .icon{
                color: #fff;
                font-size: 45px;
                display: flex;
                align-items:center;
                justify-content: center;
                                
            }
        .telephone{
            display:grid;
            grid-template-columns:repeat(3,1fr);
            grid-template-rows:1fr;
            grid-column: 3;
            grid-column-gap: 5px;
            align-items: center;
            margin: 0px 40px 0px 0px;
            grid-gap: 0 10px; 
        }
            .t1{
            color: #fff;
            width: 160px;
            display: flex;
            flex-direction: row;
            justify-content: center;


        }
        .t1 i{
            color: #1c8fd1;
        }
            .boton{
                background: hsl(37, 75%, 48%);
                height:45px;
                text-align: center;
                font-size: 20px;
                color: #030303;
                border: none;
                border-radius: 5px;
            }
/* diseño de menu */
        .menu{
        background: #fff;
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows:1fr;
        grid-column-gap:100px; 
        
    }
        .logo{
            display:grid;
            grid-template-columns:1.5fr 1fr;
            grid-template-rows:1fr;
            align-items: center;
            margin: 0px 0px 0px 40px;
            grid-gap: 0px 10px; 
        }
            .company{
                font-size:41px;
                /*font-weight:bolder;*/ 
               
                
            }
            .tagline{
                height: 40px;
                width: 100px;
                background: #0d8dc0;
                text-align: center;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                transform: skew(-18deg);
            }
            .tagline p{
                text-align-last: auto;
            }
        .list{
            height: 80px;
            display:flex;
            /* background: #030303; */
            margin: 0px 40px 0px 0px;
            }
        .list a{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            
            /* background: hsl(0, 7%, 86%); */
        }
        .list a:hover{
            
            border-bottom: 5px solid hsl(345, 90%, 45%);
            /*height: 100%;*/
        }
     
    .our{
        background:#fff;
        display:grid;
        grid-template-rows: 1fr 2fr;
    }
        .titulo-parrafo{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr; 
            margin: none;
            /* display:flex;
            flex-direction: column;
            align-items: center; */
        }
            .subtitulo{
               color: hsl(202, 84%, 25%);
                font-size: 30px;

            }
            .subtitulo span{
                color: #030303;
                margin: 0px;
            }
            .texto{
               text-align-last: center;
            }
        .orden{
            grid-column: 2;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            }
        .globos{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            /* background: hsla(202, 76%, 46%, 0.219); */
        }
        .image{
            width:150px;
            height: 150px;
            border-radius:75px; 
            background: rgba(160, 173, 180, 0.363);
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .circulo{
           display: flex;
           justify-content: center; 
           align-items: center;
           flex-direction: column;
           align-content: center;
       }
       .titulo{
           text-align: center;
       }
           .paquetes{
               background: #818b9169; 
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-gap: 0 40px;
               
           }
                .paquete{
                    /* background: #818b9169;  */
                    margin: 0px 0px 0px 60px;
                    display: flex;
                    flex-direction:row;
                    justify-content: center;
                    

                } 
                    .uno{
                        /* background: hsl(202, 44%, 32%); */
                        display: flex;
                        flex-grow: 1;
                    }
                    .dos{
                        /* background: rgb(163, 231, 5); */
                        display:flex;
                        /* flex-direction: column; */
                        margin: 20px;
                        flex-grow: 1;
                        
                    }
                    .oferta{
                        font-size: 80px;
                        color:hsl(0, 66%, 48%);
                    }
                    .precio{
                        font-size: 40px;
                        text-decoration-line: line-through;
                    }
                    .caracteristicas{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: 1;
                        
                    }
     
    .tutores{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column: 20px;
        background: hsla(197, 96%, 49%, 0.961);

    }
    .tutor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        align-content: center;
        background: #4d6b7c;
    }
    .z-index {
        z-index: 4;
    }
        .des-tutor{
            background: hsl(268, 75%, 25%);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -20px;
        }
    .cources{
        background: rgba(94, 107, 112, 0.877);
    }